<ng-container *ngIf="recipe.name !==undefined; else showNothing">
    <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="{{recipe.photo}}" alt="...">
            <div class="caption">
              <h3>{{recipe.name}}</h3>
              <p>{{recipe.description}}</p>
            </div>
          </div>
        </div>
    </div>
</ng-container>
<ng-template #showNothing>
    <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <h3>Nothing has been selected</h3>
            </div>
          </div>
        </div>
    </div>
</ng-template>