<ng-container *ngIf="ingredient.name !==undefined;">
    <div class="row">
        <div class="col-md-12">
          <div class="thumbnail">
            <img src="{{ingredient.photo}}" alt="...">
            <div class="caption">
              <h3>{{ingredient.name}}</h3>
              <h3>{{ingredient.price | currency: 'GBP'}}</h3>
              <p>{{ingredient.description}}</p>
            </div>
          </div>
        </div>
    </div>
</ng-container>
<!-- <ng-template #showNothing>
    <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <h3>Nothing has been selected</h3>
            </div>
          </div>
        </div>
    </div>
</ng-template> -->